<div class="header">
  <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

  <div class="container ">
    <img src="../assets/Kaiflix.png" alt="" srcset="">
  </div>

  <!-- <div class="">
    <h1 id="header-title">Première édition du Talk streaming</h1>
    <p class="content"><span id="cont">Chez  </span> Kaïbee</p>
  </div> -->

  <div class="quote col-md-12">
    <!-- <app-quote [content]='quote'></app-quote> -->
    <quotes-list></quotes-list>

  </div>


  <!-- <a href="https://doodle.com/poll/a2w9iatz3a9dsqbd?utm_source=poll&utm_medium=link" type="button" class="btn btn-default" target="_blank">Je ne rate pas l'évènement</a> -->

</div>





